<nav class="navbar">
  <div class="navdiv">
    <div class="logo"><a href="#">Logo</a></div>
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>  
      <div class="button">
        <button class="btn btn-primary" type="button">Log In</button>
        <button class="btn btn-primary" type="button">Sign Up</button>
      </div>
      
    </div>
</nav>


<div class="container-fluid">
    <router-outlet>
        
    </router-outlet>
    
</div>  
