<div class="parant">
    <div class="container">
        <div class="login-card">
          <h2>Login</h2>
          <form>
            <label for="username">Username:</label>
            <input type="text" name="userName" [(ngModel)]="loginobj.userName" id="username" name="username" required>
      
            <label for="password">Password:</label>
            <input type="password" name="password" [(ngModel)]="loginobj.password" id="password" name="password" required>
      
            <button type="button" (click)="onLogin()">Login</button>
          </form>
        </div>
      </div>
</div>


